#root {
  margin: 0 auto;
  text-align: center;
  height: 90%;
  width: 90%;
}

.ag-cell {
  text-align: left;
}

#main-grid {
  .ag-row-last {
    font-weight: bold;
  }
}


.page-header {
  text-align: center;
  padding: 1rem 0;
}

.page-header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

.page-header p {
  opacity: 0.7;
}

.round-label {
  display: inline-block;   /* allows margin */
  margin-top: 1rem;   
}

.grid-wrapper {
  display: flex;
  justify-content: center;   /* horizontal centering */
  width: 100%;
}

.total-scores {
  width: 100%;
  max-width: 1200px;         /* 👈 controls grid width */
  height: 385px;
}